<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Оформление заявки</title>
    </head>

    <body>
        <aside>
            <ul>
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/application}">Оформить заявку на кредит</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/manage}">Кабинет менеджера</a></li>
            </ul>
        </aside>

        <h1>Оформление заявки</h1>

        <form th:action="@{/client/application}" th:method="POST" th:object="${client}">
            <label for="firstname">Имя:</label>
            <input th:field="*{firstname}" id="firstname" name="firstname" type="text">
            <span style="color: red" th:errors="*{firstname}" th:if="@{#fields.hasErrors('firstname')}">Ошибки в имени.</span>

            <label for="surname">Отчество:</label>
            <input th:field="*{surname}" id="surname" name="surname" type="text">
            <span style="color: red" th:errors="*{surname}" th:if="@{#fields.hasErrors('surname')}">Ошибки в отчестве.</span>

            <label for="lastname">Фамилия:</label>
            <input th:field="*{lastname}" id="lastname" name="lastname" type="text">
            <span style="color: red" th:errors="*{lastname}" th:if="@{#fields.hasErrors('lastname')}">Ошибки в фамилии.</span>

            <label for="passport">Серия и номер паспорта (без пробела):</label>
            <input th:field="*{passport}" id="passport" name="passport" type="text">
            <span style="color: red" th:errors="*{passport}" th:if="@{#fields.hasErrors('passport')}">Ошибки в паспорте.</span>

            <label for="family_status">Семейное положение:</label>
            <select id="family_status" name="familyStatus">
                <option th:selected="${'married' == client.familyStatus}" th:text="'в браке'" th:value="married"></option>
                <option th:selected="${'not_married' == client.familyStatus}" th:text="'одинок(-а)'" th:value="not_married"></option>
            </select>

            <label for="address">Адрес проживания:</label>
            <input th:field="*{address}" id="address" name="address" type="text">
            <span style="color: red" th:errors="*{address}" th:if="@{#fields.hasErrors('address')}">Ошибки в адресе.</span>

            <label for="phone_number">Телефонный номер (без пробелов, начиная с 8):</label>
            <input th:field="*{phoneNumber}" id="phone_number" name="phoneNumber" type="text">
            <span style="color: red" th:errors="*{phoneNumber}" th:if="@{#fields.hasErrors('phone_number')}">Ошибки в паспорте.</span>

            <div id="jobs">
                <input th:field="*{jobDTOList[0].organizationName}" name="jobDTOList[0].organizationName" type="text" placeholder="Название организации">
                <span style="color: red" th:errors="*{jobDTOList[0].organizationName}" th:if="@{#fields.hasErrors('jobDTOList[0].organizationName')}">Ошибки в названии организации.</span>

                <input th:field="*{jobDTOList[0].title}" name="jobDTOList[0].title" type="text" placeholder="Название работы">
                <span style="color: red" th:errors="*{jobDTOList[0].title}" th:if="@{#fields.hasErrors('jobDTOList[0].title')}">Ошибки в названии работы.</span>

                <label for="start">Дата начала:</label>
                <input th:field="*{jobDTOList[0].start}" id="start" name="jobDTOList[0].start" type="date">
                <span style="color: red" th:errors="*{jobDTOList[0].start}" th:if="@{#fields.hasErrors('jobDTOList[0].start')}">Ошибки в дате начала.</span>

                <label for="end">Дата завершения (оставьте пустой, если ещё работаете):</label>
                <input th:field="*{jobDTOList[0].end}" id="end" name="jobDTOList[0].end" type="date">
                <span style="color: red" th:errors="*{jobDTOList[0].end}" th:if="@{#fields.hasErrors('jobDTOList[0].end')}">Ошибки в дате начала.</span>
            </div>

            <button type="button" id="addJob">Добавить место работы</button>

            <label for="sum">Сумма кредита:</label>
            <input th:field="*{sum}" id="sum" name="sum" type="text">
            <span style="color: red" th:errors="*{sum}" th:if="@{#fields.hasErrors('sum')}">Ошибки в паспорте.</span>

            <input type="submit" value="Оформить заявку">
        </form>

        <script>
            const jobsContainer = document.getElementById('jobs');
            const addJobButton = document.getElementById('addJob');
            let jobCount = 1;

            addJobButton.addEventListener('click', () => {
                const jobContainer = document.createElement('div');

                const organizationNameInput = document.createElement('input');
                organizationNameInput.name = `jobDTOList[${jobCount}].organizationName`;
                organizationNameInput.type = 'text';
                organizationNameInput.placeholder = 'Название организации';

                // const organizationNameErrors = document.createElement('span');
                // organizationNameErrors.style.color = 'red';
                //
                // organizationNameErrors.setAttribute('th:errors', `\\$\{\\{*{jobDTOList[${jobCount}].organizationName}\\}\\}`);
                // organizationNameErrors.setAttribute('th:if', `\\$\{\\{#fields.hasErrors('jobDTOList[${jobCount}].organizationName')\\}\\}`);
                // jobContainer.appendChild(organizationNameErrors);
                //
                // Я подозреваю, что в реальном приложении будет использован API, соответственно, наличие первичных
                // ошибок в полях будет проверять фронт. Я сделал валидацию полей, а также добавил интуитивно понятные
                // ошибки на статичных полях, но при динамическом добавлении мест работы сами так и не смог настроить
                // их отображение (они все также валидируются внутри при помощи @Valid).

                const jobTitleInput = document.createElement('input');
                jobTitleInput.name = `jobDTOList[${jobCount}].title`;
                jobTitleInput.type = 'text';
                jobTitleInput.placeholder = 'Название работы';

                const jobStartLabel = document.createElement('label');
                jobStartLabel.setAttribute('for', 'start');
                jobStartLabel.textContent = 'Дата начала:';

                const jobStartInput = document.createElement('input');
                jobStartInput.id = 'start';
                jobStartInput.name = `jobDTOList[${jobCount}].start`;
                jobStartInput.type = 'date';

                const jobEndLabel = document.createElement('label');
                jobEndLabel.setAttribute('for', 'start');
                jobEndLabel.textContent = 'Дата завершения (оставьте пустой, если ещё работаете):';

                const jobEndInput = document.createElement('input');
                jobEndInput.id = 'end';
                jobEndInput.name = `jobDTOList[${jobCount}].end`;
                jobEndInput.type = 'date';

                jobContainer.appendChild(organizationNameInput);
                jobContainer.appendChild(jobTitleInput);
                jobContainer.appendChild(jobStartLabel);
                jobContainer.appendChild(jobStartInput);
                jobContainer.appendChild(jobEndLabel);
                jobContainer.appendChild(jobEndInput);

                jobsContainer.appendChild(jobContainer);

                jobCount++;
            });
        </script>
    </body>
</html>