<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Решение по кредиту</title>
    </head>

    <body>
        <aside>
            <ul>
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/application}">Оформить заявку на кредит</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/manage}">Кабинет менеджера</a></li>
            </ul>
        </aside>

        <h1>Решение по кредиту</h1>

        <div th:if="${client.statusEntity.isApproved == true}">
            <h2>Вам одобрен кредит</h2>

            <p th:inline="text">Сумма (в рублях): [[${client.sum}]]</p>
            <p th:inline="text">Срок (в днях): [[${client.statusEntity.daysTerm}]]</p>
            <p>Для завершения операции подпишите <a th:href="@{/client/agreement}">кредитный договор</a>.</p>
        </div>

        <div th:if="${client.statusEntity.isApproved == false}">
            <h2>Вам не одобрен кредит</h2>

            <form th:action="@{/client/new-client}" th:method="POST">
                <p>Заявка для нового клиента:</p>

                <input type="submit" value="Оформить">
            </form>
        </div>
    </body>
</html>