<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Решение по кредиту</title>
    </head>

    <body>
        <h1>Решение по кредиту</h1>

        <div th:if="${client.statusEntity.isApproved == true}">
            <h2>Вам одобрен кредит</h2>

            <p th:inline="text">Сумма (в рублях): [[${client.sum}]]</p>
            <p th:inline="text">Срок (в днях): [[${client.statusEntity.daysTerm}]]</p>
            <p>Для завершения операции подпишите <a th:href="@{/client/agreement}">кредитный договор</a>.</p>
        </div>

        <div th:if="${client.statusEntity.isApproved == false}">
            <h2>Вам не одобрен кредит</h2>

            <form th:action="@{/client/new-client}" th:method="POST">
                <p>Заявка для нового клиента:</p>

                <input type="submit" value="Оформить">
            </form>
        </div>
    </body>
</html>