<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Заявки</title>
    </head>

    <body>
        <aside>
            <ul>
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/application}">Оформить заявку на кредит</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/manage}">Кабинет менеджера</a></li>
            </ul>
        </aside>

        <h1>Заявки</h1>

        <table>
            <tr>
                <th>Идентификатор</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Сумма (в рублях)</th>
                <th>Статус</th>
                <th>Дата</th>
                <th>Срок (в днях)</th>
            </tr>
            <tr th:each="appl : ${applications}">
                <td th:text="${appl.id}"></td>
                <td th:text="${appl.lastname}"></td>
                <td th:text="${appl.firstname}"></td>
                <td th:text="${appl.surname}"></td>
                <td th:text="${appl.sum}"></td>
                <td th:text="${appl.isApprovedRu}"></td>
                <td th:text="${appl.date}"></td>
                <td th:text="${appl.daysTerm}"></td>
            </tr>
        </table>
    </body>
</html>