<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Поиск клиентов</title>
    </head>

    <body>
        <h1>Поиск клиентов</h1>

        <h2>Данные для поиска</h2>

        <form th:action="@{/manage/clients}" id="search_form">
            <label for="lastname">Фамилия:</label>
            <input type="text" name="lastname" id="lastname">

            <label for="firstname">Имя:</label>
            <input type="text" name="firstname" id="firstname">

            <label for="surname">Отчество:</label>
            <input type="text" name="surname" id="surname">

            <label for="passport">Паспорт:</label>
            <input type="text" name="passport" id="passport">

            <label for="phone_number">Номер телефона:</label>
            <input type="text" name="phoneNumber" id="phone_number">

            <input type="submit" value="Поиск">
        </form>

        <table>
            <tr>
                <th>Идентификатор</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Паспорт</th>
                <th>Семейное положение</th>
                <th>Адрес</th>
                <th>Номер телефона</th>
            </tr>
            <tr th:each="client : ${clients}">
                <td th:text="${client.id}"></td>
                <td th:text="${client.lastname}"></td>
                <td th:text="${client.firstname}"></td>
                <td th:text="${client.surname}"></td>
                <td th:text="${client.passport}"></td>
                <td th:text="${client.familyStatus}"></td>
                <td th:text="${client.address}"></td>
                <td th:text="${client.phoneNumber}"></td>
            </tr>
        </table>

        <script>
            const myForm = document.getElementById('search_form');

            myForm.addEventListener('submit', function (e) {
                const allInputs = myForm.getElementsByTagName('input');

                for (let i = 0; i < allInputs.length; i++) {
                    const input = allInputs[i];

                    if (input.name && !input.value) {
                        input.removeAttribute('name');
                    }
                }
            });
        </script>
    </body>
</html>