<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Кредитные договоры</title>
    </head>

    <body>
        <aside>
            <ul>
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/application}">Оформить заявку на кредит</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/manage}">Кабинет менеджера</a></li>
            </ul>
        </aside>

        <h1>Кредитные договоры</h1>

        <table>
            <tr>
                <th>Идентификатор</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Подписан?</th>
                <th>Дата подписания</th>
            </tr>
            <tr th:each="creditAgreement : ${creditAgreements}">
                <td th:text="${creditAgreement.id}"></td>
                <td th:text="${creditAgreement.lastname}"></td>
                <td th:text="${creditAgreement.firstname}"></td>
                <td th:text="${creditAgreement.surname}"></td>
                <td th:text="${creditAgreement.isSignedRu}"></td>
                <td th:text="${#temporals.format(creditAgreement.signDate, 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
        </table>
    </body>
</html>