<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Вход</title>
    </head>

    <body>
        <h1>Вход</h1>

        <form th:action="@{/login}" th:method="POST">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">

            <label for="username">Имя пользователя:</label>
            <input id="username" name="username" type="text">

            <label for="password">Пароль:</label>
            <input id="password" name="password" type="password">

            <input type="submit" value="Войти">
        </form>
    </body>
</html>